{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
<h1>Articles App</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quas amet fugit debitis omnis at vel culpa voluptates iure exercitationem sunt doloribus delectus rem harum dicta reprehenderit deserunt voluptas atque quod, commodi expedita aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolor, corrupti nam error dignissimos voluptate asperiores debitis eius possimus perferendis explicabo. Fuga corrupti sed earum deserunt officia veniam quam doloribus!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quas amet fugit debitis omnis at vel culpa voluptates iure exercitationem sunt doloribus delectus rem harum dicta reprehenderit deserunt voluptas atque quod, commodi expedita aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolor, corrupti nam error dignissimos voluptate asperiores debitis eius possimus perferendis explicabo. Fuga corrupti sed earum deserunt officia veniam quam doloribus!</p>
</div>
{% endblock %}